h1 {
  text-align: center;
}

/* #Container, #previewImage, #imageInput { */

#fileSelect {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left:5px;
}

#imageContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden; /*visible*/
  flex-direction: column
}
